<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="flex flex-col justify-between items-center p-8 md:w-2/6 order-3 md:order-2">
  Todos los Derechos Reservados 2021
  <div class="space-x-1">
            <i class="fa fa-instagram"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-envelope"></i>
        </div>
</section>
<section class="flex flex-col justify-between items-center md:w-2/6 p-8 order-1">
  
</section>

<section class="flex flex-col justify-between items-center p-8 md:w-2/6 order-2 md:order-3">
  <span></span>
</section>


