{{#> layouts/basic page_title="Nike Air Force"}}
    {{#*inline "main-block"}}
    <section class="p-8 relative">
             
        <div class="container mx-auto flex flex-wrap my-0 justify-center">
          <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-10">

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/49136970-1dba-4de9-8bcd-b846477e3f01/air-force-1-zapatillas-zNwK4N.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Nike Air Force 1</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$100</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/f83427b2-d8b5-41d3-b053-f73c8b81345c/air-force-1-pixel-zapatillas-JT90CG.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Nike Air force 1 Pixel</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$120</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/350e7f3a-979a-402b-9396-a8a998dd76ab/air-force-1-07-zapatillas-ktGJCV.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Air Force 1 '07 Essential</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$90</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/1706ada4-559a-413d-b0e2-5e3519f21725/air-force-1-low-gore-tex-zapatillas-d0nMNC.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Nike Air Force low gor-tex</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$150</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/9ef5bc51-9e9f-40a7-86a4-13d746b8a11b/air-force-1-react-zapatillas-nm7D17.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Nike Air Force 1 React</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$130</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>
            
            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/4c2fda26-133f-4787-8c48-f6163dd4d7b7/air-force-1-react-lx-zapatillas-wczm3S.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Nike Air force 1 ELV8</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$100</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/ecszooff9f10lrfy6ncf/air-force-1-mid-07-zapatillas-4S0hkt.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Air Force 1 Mid'07</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$110s</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/zuxu34gcm6pflvptiuxf/air-force-1-high-07-zapatillas-BKPV3q.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Air force 1 brown</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$140</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/6d2d325d-3a94-4199-b950-8014e5d1ac11/air-force-1-gtx-zapatillas-jvjvJ9.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Nike air force 1 GTX</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$150</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/ea7f266f-653f-4954-8d81-a60d3c2413db/custom-nike-air-force-1-by-you.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Nike air force low by you</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$120</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

          </div>
        </div>
        
        
      
      </section>
    {{/inline}}
{{/layouts/basic}}
