{{#> layouts/basic page_title="Nike Jordan"}}
    {{#*inline "main-block"}}
    <section class="p-8 relative">
             
        <div class="container mx-auto flex flex-wrap my-0 justify-center">
          <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-10">

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/e8e5fc89-1e28-4c61-a148-9befbc40f452/air-jordan-1-mid-zapatillas-STX7Vq.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Jordan 1 Mid</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$120</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/yoevyylth3h1nygnmwbn/jordan-proto-max-720-zapatillas-FwWfft.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Jordan 4 retro</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$190</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/c2d834fb-2cbb-4926-aa32-643995e4ce57/jordan-max-200-zapatillas-7MF31m.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Jordan max 200</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$150</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/yh44bz1cb8ncxp0buzaw/jordan-mars-270-zapatillas-ppMkWH.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Jordan mars 270</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$140</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d97b6a9f-e594-44e9-b053-7048b377957b/jordan-aerospace-720-zapatillas-Qj2x68.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Jordan Aerospace</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$200</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>
            
            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/a3bd6a98-c0ba-4a47-a308-a5d3e9af96d4/air-jordan-1-mid-zapatillas-scZZ99.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Air jordan 1 mid</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$120</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/i1-03b76ada-2403-40f1-9864-529203713562/air-jordan-1-mid-zapatillas-scZZ99.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Jordan 1 White</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$130</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/5648f499-522f-459c-ac34-80eaff6271c6/jordan-delta-mid-zapatillas-bp21WR.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Rust</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$140</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/28bbc33f-5897-437a-9aad-28eaa0a01d39/air-jordan-7-retro-gc-zapatillas-QJdDH0.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Jordan 1 retro gc</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$200</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/b11c7473-58a5-41e3-9a4f-e89e6ed1d716/jordan-max-aura-2-zapatillas-df4XZl.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Jordan Max</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$129</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

          </div>
        </div>
        
        
      
      </section>
    {{/inline}}
{{/layouts/basic}}
