{{#> layouts/basic page_title="Nike Off-White"}}
    {{#*inline "main-block"}}
    <section class="p-8 relative">
             
        <div class="container mx-auto flex flex-wrap my-0 justify-center">
          <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-10">

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_prod_ss/w_640,c_limit,f_auto/2a755adc-4d02-4755-af34-2b8285193708/rubber-dunk-x-off-white-university-blue-release-date.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Rubber Dunk x White</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$190</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_prod_ss/w_960,c_limit,f_auto/83ff6345-57ea-4eaf-97bd-64df89d103f0/rubber-dunk-x-off-white-green-strike-release-date.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Rubber Dunk x Green</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$400</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_prod_ss/w_640,c_limit,f_auto/szhkxrvejruxq6negqda/nike-the-ten-air-max-90-off-white-release-date.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">THE TEN WHITE</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$350</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_prod_ss/w_640,c_limit,f_auto/la19jqqpmlwmjo4rcokx/nike-the-ten-air-vapormax-off-white-release-date.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">THE TEN BLACK</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$250</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://static.nike.com/a/images/t_prod_ss/w_640,c_limit,f_auto/2a07a711-f39a-4105-9f80-b49cfeae47e5/nike-x-off-white-womens-waffle-racer-athlete-in-progress-release-date.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Athlete in Progress</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$300</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>
            
            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://cdn-images.farfetch-contents.com/13/67/81/80/13678180_16442873_1000.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Nike X Off-White</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$200</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://cdn-images.farfetch-contents.com/13/15/75/38/13157538_14718352_1000.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Air Jordan 1 Off-White</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$250</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://cdn-images.farfetch-contents.com/13/51/56/87/13515687_16628227_1000.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">the ten presto</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$300</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://cdn-images.farfetch-contents.com/13/15/77/80/13157780_14625015_1000.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">The ten blazer</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$320</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center max-w-sm mx-auto my-0">
              <div style="background-image: url(https://cdn-images.farfetch-contents.com/12/96/02/34/12960234_13486425_1000.jpg" class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center"></div>
                <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
                  <div class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">The ten presto light</div>
                  <div class="flex items-center justify-between py-2 px-3 bg-gray-400">
                    <h1 class="text-gray-800 font-bold ">$400</h1>
                    <button class=" bg-gray-800 text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Add to cart</button>
                  </div>
                </div>
            </div>

          </div>
        </div>
        
        
      
      </section>
    {{/inline}}
{{/layouts/basic}}
